.UiFlex {
  display: flex;

  &.nonIntegration {
    height: auto !important;
    width: auto !important;
  }

  .jc-center { justify-content: center; }
  .jc-end { justify-content: flex-end; }
  .jc-start { justify-content: flex-start; }
  .jc-around { justify-content: space-between; }
  .jc-between { justify-content: space-around; }
  .align-center { align-items: center; }
  .align-end { align-items: flex-end; }
  .align-start { align-items: flex-start; }

  .wrap { flex-wrap: wrap; }
  .no-wrap { flex-wrap: nowrap; }

  .row { flex-direction: row; }
  .column { flex-direction: column; }

  .gap-xs { gap: var(--layoutSpaceXs) }
  .gap-sm { gap: var(--layoutSpaceSm) }
  .gap-md { gap: var(--layoutSpaceMd) }
  .gap-lg { gap: var(--layoutSpaceLg) }
  .gap-xl { gap: var(--layoutSpaceXl) }

}
