.sidebarTabs {
  overflow: hidden;
  flex-grow: 1;
}

.sidebarContent {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.tabsHeader {
  padding: var(--layoutSpaceSm) var(--layoutSpaceSm) 0 var(--layoutSpaceSm);
  background-color: var(--paletteColorsWhite);
  border-bottom: 1px solid var(--paletteBorderNormal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--layoutSpaceMd);
}

.tabContent {
  flex: 1;
  overflow: auto;
  background-color: var(--paletteColorsWhite);
}
